.navbar {
    position: sticky;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 25px;


    background-color: var(--backgorund-main);
    border: solid 1px var(--border-color);

}

.navButtons {
    stroke: var(--color-maintext);
}

.navbar a.active .navButtons {
    stroke: var(--accent-color);
}