.cardsProfile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 20px;
    
 
    background-color: var(--background-cards);

    border: solid 1px var(--border-color);
    border-radius: 20px;
    box-shadow: 0 10px 15px var(--accent-color);
}

.aboutMeInfos {
    display: flex;
    gap: 10px;

    background-color: var(--background-cards);
    border-radius: 20px;
}

.-profile {
    display: flex;
    flex-direction: column;    
}

.-profileImg {
    width: 100%;
    border: solid 2px var(--border-color);
    border-radius: 10px;
}

.-name {
    margin-top: 5px;
    font-size: 10px;
    font-family: var(--color-answer-text);
    font-style: italic;
}

.aboutMeText {
    font-family: var(--color-answer-text);
}

.userInfos {
    display: flex;
}

.settings {
    margin-top: 20px;
    text-align: center;
    background-color: var(--background-cards);
    border: 1px solid var(--border-color);
    border-radius: 20px;

    
    
}

.settingHeader {
    font-family: var(--color-answer-text);
    font-weight: 600;

    text-decoration: underline;
}

.settingOptions {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    font-family: var(--color-answer-text);
    font-weight: 500;
}

.switch {
    width: 15%;
    align-self: end;
}
